

#root {
  background-color: rgb(6, 32, 32);
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}

.navbar-brand{
  color: #9cd0b9;   
  font-size: 28px;
  font-weight: bold;

}

.bg-light-dark{
  background-color: #2B3035
}

.title {
  color: #9cd0b9;   /* Bootstrap primary blue */
  font-size: 28px;
  font-weight: bold;
  
}

.content{
  color: blanchedalmond;
  font-size: 10px;
}