

#root {
  background-color: rgb(6, 32, 32);
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}

.navbar-brand{
  color: #e3f8ee;   
  font-size: 28px;
  font-weight: bold;

}

.bg-light-dark{
  background-color: #2B3035
}

.title {
  color: #e0f5ec;   /* Bootstrap primary blue */
  font-size: 28px;
  font-weight: bold;
  
}
.title:hover {
  color: #cbddf9; /* blue on hover */
}

.content{
  color: rgb(246, 239, 230);
  font-size: 10px;
}